# Retain upstream license and package metadata byte identity.
native/licenses/**/*.txt -text whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
native/licenses/SPIRV-Cross/PACKAGE-METADATA.xml -text -whitespace
